{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
	"rules": {
		"react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "indent": [2, 2],
    "react/jsx-filename-extension": [2, {
      "extensions": [".js", ".jsx", ".tsx"]
    }],
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "no-unused-vars": "warn",
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "warn",
    "react/function-component-definition": "off",
    "no-shadow": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "no-underscore-dangle": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/quotes": [2, "double"],
    "@typescript-eslint/semi": [2, "always"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/space-before-function-paren": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/restrict-template-expressions": "warn",
    "@typescript-eslint/consistent-indexed-object-style": "warn",
    "@typescript-eslint/no-floating-promises": "warn",
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "semi",
        "requireLast": true
      },
      "singleline": {
        "delimiter": "semi",
        "requireLast": false
      }
    }],
    "eol-last": "off",
    "@typescript-eslint/prefer-nullish-coalescing": "off",
    "@typescript-eslint/triple-slash-reference": "warn",
    "multiline-ternary": ["off", "always"]
	},
	"extends": [
		"next",
		"next/core-web-vitals",
		"eslint:recommended",
		"plugin:@next/next/recommended",
		"standard-with-typescript",
    "plugin:react/recommended"
	]
}