.clear {
  border: none;
  background: none;
  outline: none;
  text-decoration: underline;
  
  &.active {
    text-decoration: none;
    font-weight: 700;
  }
}

.primary {
  font-weight: 700;
  background-color: var(--orange-base);
  border-radius: 16px;
  border: none;

  &.smooth {
    background-color: var(--orange-smooth);
  }
}