.img {
  position: absolute;
  top: -40px;
  left: -32px;
  z-index: var(--image-bg);
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 20px;
  margin-left: 400px;
}

.name {
  font: var(--font-h2);
  color: rgb(178 128 34);
}

.colorful-symbol {
  margin-left: 10px;
}

@media screen and (max-width: 799px) {
  .img {
    position: static;
    transform: translateY(-40px);
    z-index: var(--image-bg);
  }

  .info {
    transform: translateY(-80px);
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 0px;
    margin-left: 30px;
  }
}