.img {
  position: absolute;
  top: -40px;
  left: -32px;
  z-index: var(--image-bg);
}

.name {
  font: var(--font-h2);
  color: rgb(178 128 34);
}

.colorful-symbol {
  margin-left: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 20px;
  margin-left: 375px;
}

.close-approach-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: space-evenly;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 0px 4px;
}

.close-approach-info {
  min-width: 330px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 12px 20px;
  border-radius: 15px;
  background-color: rgb(48 35 23 / 75%);
}

.close-approach-date {
  margin-bottom: 10px;
  color: rgb(178 128 34);
}

@media screen and (max-width: 799px) {
  .img {
    position: static;
    transform: translateY(-40px);
    z-index: var(--image-bg);
  }

  .info {
    transform: translateY(-70px);
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 0px;
    margin-left: 30px;
  }

  .close-approach-list {
    margin-top: 0px;
  }
}