.basket {
  display: flex;
  flex-direction: column;
}

.title {
  font: var(--font-h2);
  margin-bottom: 24px;
}

.content {
  margin: 0 auto;
}

.asteroid-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.img {
  position: absolute;
  left: -73px;
  top: 138px;
  transition: top 0.2s ease-in-out;
  z-index: var(--image-bg);
}