.basket {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font: var(--font-h2);
  margin-bottom: 24px;
}

.content {
  margin: 0 auto;
}

.asteroid-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.footer {
  width: 100%;
  padding: 16px;
  margin-top: auto;
}