.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.asteroid-list {
  margin: 0 auto;
}

.img {
  position: fixed;
  left: -73px;
  top: 138px;
  transition: top 0.2s ease-in-out;
  z-index: var(--image-bg);
}

.basket {
  position: fixed;
  top: 132px;
  right: 111px;
  transition: top 0.2s ease-in-out;
}