:root {
  // font-main
  --font-family-main: "Helvetica", 'Times New Roman', serif;
  --font-size-main: 16px;
  --font-line-main: 24px;
  --font-main: var(--font-size-main) / var(--font-line-main) var(--font-family-main);
  
  // colors
  --bg-app: #000;
  --orange-base: #F86600;
  --orange-smooth: rgb(248 102 0 / 15%);
  --color-main: #fff;

  // z-index
  --image-bg: -1;
}