.title {
  margin-bottom: 9px;
  font-size: 32px;
  line-height: 36px;
  color: var(--orange-base);
}

.text-area{ 
  padding: 16px 0 16px 16px;
}

.img {
  position: fixed;
  left: -73px;
  top: 138px;
  transition: top 0.2s ease-in-out;
  z-index: var(--image-bg);
}

@media screen and (max-width: 980px) {
  .img {
    top: 115px;
    left: -329px;
  }
}