.head {
  margin-bottom: 24px;
}

.title {
  font: var(--font-h2);
  margin-bottom: 8px;
}

.list {
 display: flex;
 flex-direction: column;
 row-gap: 24px;
 margin-bottom: 20px;
}

.loader {
  height: 80px;
}

@media screen and (max-width: 705px) {
  .loader {
    margin-bottom: 90px;
  }
}